---
import Layout from '../layouts/Layout.astro';
import UnderConstruction from '../components/UnderConstruction.astro';

// Set status to 503
Astro.response.status = 503;
Astro.response.statusText = 'Under Construction';
---

<Layout title="Under Construction">
	<main>    
		<div class="container">
			<div class="svg-container">
				<svg xmlns="http://www.w3.org/2000/svg" width="10em" height="10em" viewBox="0 0 32 32"><path fill="currentColor" d="M7.5 6A1.5 1.5 0 0 0 6 7.5H4A1.5 1.5 0 0 0 2.5 9v11A1.5 1.5 0 0 0 4 21.5h2V30h2v-8.5h16V30h2v-8.5h2a1.5 1.5 0 0 0 1.5-1.5V9A1.5 1.5 0 0 0 28 7.5h-2a1.5 1.5 0 0 0-3 0H9A1.5 1.5 0 0 0 7.5 6m-4 5.975L6.975 8.5h5.05L3.5 17.025zM4.975 20.5l12-12h5.05l-12 12zm22-12H28a.5.5 0 0 1 .5.5v3.025L20.025 20.5h-5.05zm1.525 8.475V20a.5.5 0 0 1-.5.5h-3.025z"/></svg>
			</div>
			<div class="title">Oops... It looks like I'm working on something 😁</div>
			<div class="message">I'm working on something awesome. Stay tuned!</div>
		</div>
	</main>
</Layout>

<style>
	body {
		background-color: #121212;
		color: #ffffff;
		font-family: Arial, sans-serif;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100vh;
		margin: 0;
	}
	.container {
		text-align: center;
	}
	.title {
		font-size: 2em;
		margin-bottom: 10px;
	}
	.message {
		font-size: 1.2em;
		margin-bottom: 20px;
	}
	.description {
		font-size: 1em;
		margin-bottom: 30px;
	}
	.svg-container {
		width: 100%;
		max-width: 300px;
		margin: 0 auto 20px;
	}
</style>